# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
debug.log

# IDE and editor settings
.vscode/
.idea/
*.iml

# Operating system files
.DS_Store
Thumbs.db

# Environment variables and secrets
.env
.env.local
*.secret
